wrapperOfBiz_webservice_v2.1/WebContent/wsdl/FacilityWithProduct.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://facilitywithproduct.ofbiz.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://facilitywithproduct.ofbiz.com" xmlns:intf="http://facilitywithproduct.ofbiz.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://facilitywithproduct.ofbiz.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getName">
    <complexType/>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloWorld">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloWorldResponse">
    <complexType>
     <sequence>
      <element name="helloWorldReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="associateFacilityWithProduct">
    <complexType>
     <sequence>
      <element name="associateFacilityWithProductInput" type="impl:FacilityWithProductInput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="FacilityWithProductInput">
    <sequence>
     <element name="daysToShip" type="xsd:double"/>
     <element name="inventoryCount" type="xsd:double"/>
     <element name="minimumStock" type="xsd:double"/>
     <element name="productName" nillable="true" type="xsd:string"/>
     <element name="reorderQuantity" type="xsd:double"/>
    </sequence>
   </complexType>
   <element name="associateFacilityWithProductResponse">
    <complexType>
     <sequence>
      <element name="associateFacilityWithProductReturn" type="impl:FacilityWithProductOutput"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="FacilityWithProductOutput">
    <sequence>
     <element name="facilityId" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="helloWorldResponse">

      <wsdl:part element="impl:helloWorldResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="associateFacilityWithProductResponse">

      <wsdl:part element="impl:associateFacilityWithProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="associateFacilityWithProductRequest">

      <wsdl:part element="impl:associateFacilityWithProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="helloWorldRequest">

      <wsdl:part element="impl:helloWorld" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FacilityWithProduct">

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloWorld">

         <wsdl:input message="impl:helloWorldRequest" name="helloWorldRequest">

       </wsdl:input>

         <wsdl:output message="impl:helloWorldResponse" name="helloWorldResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="associateFacilityWithProduct">

         <wsdl:input message="impl:associateFacilityWithProductRequest" name="associateFacilityWithProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:associateFacilityWithProductResponse" name="associateFacilityWithProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FacilityWithProductSoapBinding" type="impl:FacilityWithProduct">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="helloWorld">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="helloWorldRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="helloWorldResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="associateFacilityWithProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="associateFacilityWithProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="associateFacilityWithProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FacilityWithProductService">

      <wsdl:port binding="impl:FacilityWithProductSoapBinding" name="FacilityWithProduct">

         <wsdlsoap:address location="http://localhost:8080/wrapperOfBiz_webservice__v2.1/services/FacilityWithProduct"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
